In [102]:
import pandas as pd
import numpy as np
path= 'C:\\Users\\User\\Desktop\\DataScience\\pydata-book-master\\pydata-book-master\\ch06\\'

In [14]:
data = pd.read_csv(path+'ex5.csv')
data=data.ix[:,'something':'message']
data

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [15]:
data.to_csv(path+'out.csv')

In [20]:
!type C:\\Users\\User\\Desktop\\DataScience\\pydata-book-master\\pydata-book-master\\ch06\\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [21]:
import sys
data.to_csv(sys.stdout, sep='|') # If i wanna check out the file without recording , use the sys.stdout. it will print out on console, right away.

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [23]:
data.to_csv(sys.stdout,na_rep='NULL') #the Empty space on dataset is filled with 'NULL' Using na_rep option.

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [25]:
data.to_csv(sys.stdout,index = False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [26]:
data.to_csv(sys.stdout,index=False, cols = ['a','b','c'])

something,a,b,c,d,message
one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [27]:
dates = pd.date_range('1/1/2000',periods=7)

In [30]:
ts = pd.Series(np.arange(7),index = dates)
ts.to_csv(path+'tseries.csv')
!type C:\\Users\\User\\Desktop\\DataScience\\pydata-book-master\\pydata-book-master\\ch06\\tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [35]:
pd.Series.from_csv(path+'tseries.csv',parse_dates = True)
#http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.Series.from_csv.html

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

In [37]:
!type C:\\Users\\User\\Desktop\\DataScience\\pydata-book-master\\pydata-book-master\\ch06\\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [44]:
import csv
f = open(path+'ex7.csv')
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [47]:
lines = list(csv.reader(open(path + 'ex7.csv')))
header, values = lines[0],lines[1:]
data_dict = {h : v for h,v in zip(header, zip(*values))} # '*' in zip method do unzip the list. making it short , this method strip a list 
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [53]:
lines[1:]

[['1', '2', '3'], ['1', '2', '3', '4']]

In [64]:
zip(*lines[1:])

[('1', '1'), ('2', '2'), ('3', '3')]

In [63]:
zip(lines[1:])

[(['1', '2', '3'],), (['1', '2', '3', '4'],)]

In [65]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
    
reader= csv.reader(f, dialect=my_dialect)

In [67]:
reader = csv.reader(f, delimiter = '|')

In [68]:
with open('mydata.csv','w') as f:
    writer = csv.writer(f, dialect = my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

In [69]:
obj='''
{"name":"Wes",
"place_lived": ["United States", "Spain", "Germany"],
"pet":null,
"siblings":[{"name" : "Scott", "age" : 25, "pet" : "Zuko"},
{"name" : "Katie", "age" : 33, "pet" : "Cisko"}]}'''

In [70]:
import json
result = json.loads(obj)
result

{u'name': u'Wes',
 u'pet': None,
 u'place_lived': [u'United States', u'Spain', u'Germany'],
 u'siblings': [{u'age': 25, u'name': u'Scott', u'pet': u'Zuko'},
  {u'age': 33, u'name': u'Katie', u'pet': u'Cisko'}]}

In [72]:
asjson = json.dumps(result)
asjson

'{"pet": null, "place_lived": ["United States", "Spain", "Germany"], "name": "Wes", "siblings": [{"pet": "Zuko", "age": 25, "name": "Scott"}, {"pet": "Cisko", "age": 33, "name": "Katie"}]}'

In [73]:
siblings = pd.DataFrame(result['siblings'],columns = ['name','age'])
siblings

    name  age
0  Scott   25
1  Katie   33

In [93]:
import requests
from lxml.html import parse
from io import StringIO

text = requests.get('http://finance.yahoo.com/q/op?s=AAPL+Options').text
parsed = parse(StringIO(text))
doc = parsed.getroot()

In [94]:
links = doc.findall('.//a')

In [100]:
from lxml import objectify

path = 'Perfomance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

IOError: [Errno 2] No such file or directory: 'Perfomance_MNR.xml'

In [97]:
frame = pd.read_csv(path+'ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [104]:
frame.save(path+'frame_pickle')

In [106]:
pd.read_pickle(path+'frame_pickle')  #substituted 'pd.load' with 'pd.read_pickle

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [111]:
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col']=frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5
/obj1                frame        (shape->[3,5])
/obj1_col            series       (shape->[3])

In [114]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [116]:
import xlrd , openpyxl

In [121]:
xls_file=pd.ExcelFile(path+'data.xlsx')

In [124]:
table = xls_file.parse('Sheet1')
table

   1  2  3  4
0  a  b  c  d
1  e  f  g  h
2  i  j  k  l

In [126]:
import requests
url = 'https://api.github.com/repos/pydata/pandas/milestones/28/labels'
resp = requests.get(url)
resp

In [131]:
data = resp.json()

In [128]:
data[:5]

[{u'color': u'e10c02',
  u'name': u'Bug',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Bug'},
 {u'color': u'4E9A06',
  u'name': u'Enhancement',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Enhancement'},
 {u'color': u'FCE94F',
  u'name': u'Refactor',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Refactor'},
 {u'color': u'75507B',
  u'name': u'Build',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Build'},
 {u'color': u'3465A4',
  u'name': u'Docs',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Docs'}]

In [134]:
issue_labels = pd.DataFrame(data)
issue_labels

,color,name,url
0,e10c02,Bug,https://api.github.com/repos/pydata/pandas/lab...
1,4E9A06,Enhancement,https://api.github.com/repos/pydata/pandas/lab...
2,FCE94F,Refactor,https://api.github.com/repos/pydata/pandas/lab...
3,75507B,Build,https://api.github.com/repos/pydata/pandas/lab...
4,3465A4,Docs,https://api.github.com/repos/pydata/pandas/lab...
5,729FCF,Groupby,https://api.github.com/repos/pydata/pandas/lab...
6,06909A,Data IO,https://api.github.com/repos/pydata/pandas/lab...
7,8AE234,Visualization,https://api.github.com/repos/pydata/pandas/lab...
8,0b02e1,Indexing,https://api.github.com/repos/pydata/pandas/lab...
9,d7e102,Missing-data,https://api.github.com/repos/pydata/pandas/lab...
10,a10c02,Performance,https://api.github.com/repos/pydata/pandas/lab...
11,02d7e1,Reshaping,https://api.github.com/repos/pydata/pandas/lab...
12,fbca04,Difficulty Novice,https://api.github.com/repos/pydata/pandas/lab...
13,e102d8,Dtypes,https://api.github.com/repos/pydata/pandas/lab...
14,DDDDDD,Note To Selves,https://api.github.com/repos/pydata/pandas/lab...
15,AD7FA8,API Design,https://api.github.com/repos/pydata/pandas/lab...
16,ffa0ff,Error Reporting,https://api.github.com/repos/pydata/pandas/lab...
17,006b75,Numeric,https://api.github.com/repos/pydata/pandas/lab...
18,5319e7,CSV,https://api.github.com/repos/pydata/pandas/lab...
19,5319e7,IO SQL,https://api.github.com/repos/pydata/pandas/lab...
20,a2bca7,CI,https://api.github.com/repos/pydata/pandas/lab...
21,fbca04,Internals,https://api.github.com/repos/pydata/pandas/lab...
22,5319e7,Timedelta,https://api.github.com/repos/pydata/pandas/lab...
23,0052cc,Frequency,https://api.github.com/repos/pydata/pandas/lab...
24,fbca04,Windows,https://api.github.com/repos/pydata/pandas/lab...
25,eb6420,Algos,https://api.github.com/repos/pydata/pandas/lab...
26,5319e7,Timezones,https://api.github.com/repos/pydata/pandas/lab...
27,eb6420,Period,https://api.github.com/repos/pydata/pandas/lab...
28,207de5,MultiIndex,https://api.github.com/repos/pydata/pandas/lab...
29,e11d21,Categorical,https://api.github.com/repos/pydata/pandas/lab...

In [135]:
issue_labels.ix[7]

color                                               8AE234
name                                         Visualization
url      https://api.github.com/repos/pydata/pandas/lab...
Name: 7, dtype: object

In [140]:
import sqlite3

query='''
CREATE table test
(a VARCHAR(20), b VARCHAR(20),
c REAL,   d INTEGER);'''

con= sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [141]:
data= [('Atlanta', 'Georgia', 1.25, 6),
      ('Tallahahssee', 'Florida', 2.6,3),
      ('Sacramento', 'California',1.7,5)]
stmt = "INSERT INTO test Values(?,?,?,?)"
con.executemany(stmt,data)
con.commit()

In [142]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()

rows

[(u'Atlanta', u'Georgia', 1.25, 6),
 (u'Tallahahssee', u'Florida', 2.6, 3),
 (u'Sacramento', u'California', 1.7, 5)]

In [143]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [144]:
pd.DataFrame(rows, columns = list(zip(*cursor.description))[0])

              a           b     c  d
0       Atlanta     Georgia  1.25  6
1  Tallahahssee     Florida  2.60  3
2    Sacramento  California  1.70  5

In [146]:
import pandas.io.sql as sql

pd.read_sql('select * from test',con)

              a           b     c  d
0       Atlanta     Georgia  1.25  6
1  Tallahahssee     Florida  2.60  3
2    Sacramento  California  1.70  5